* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background: #000000;
    color: #ffffff;
}

.main,
.boxes {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    align-items: center;
}

.boxes {
    justify-content: center;
    flex: 1;
    width: 100vw;
}

.header {
    text-align: center;
    font-size: 150%;
}

.header h1 {
    margin: 10px 0px 20px 0;
}


.pads
{  width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 0;

}

.pads>div {
    height:25vh;
    width: 90%;
    opacity: 0.8;
    margin: 5px auto;
   
    border-radius: 25px;
}

.pads>div:hover:focus {
    border: 2px solid #000000;
    opacity: 1;
    transition: 0.2s ease;
}

.pad1,
.pad7 {
    background: radial-gradient(#ffffffc2, #1D976C);
}

.pad2 {
    background: radial-gradient(#ffffffc2, #EB5757);
}

.pad3,
.pad8 {
    background: radial-gradient(#ffffffc2, #C6426E);
}

.pad4 {
    background: radial-gradient(#ffffffc2, #d3d160);
}

.pad5,
.pad9 {
    background: radial-gradient(#ffffffc2, #05afda);
}

.pad6 {
    background: radial-gradient(#ffffffc2, #d93535);
}

